{% extends 'base.html' %}
{% load static %}
{% block title %}全部书籍{% endblock %}
{% block content %}
<!-- News Block -->

<br>
{% for book in books %}
<div class="news-block">
    <div class="inner-box">
        <div class="content">

            <div class="image">
                <a href="blog-detail.html"><img src="{% static 'book/images/resource/news-1.jpg' %}" alt="" /></a>
            </div>
             <form action="{% url 'book:borrow_view' %}" method="get">
                 <input type="hidden" name="book_no" value="{{ book.6 }}">
                 <h6><a href="blog-detail.html">{{ book.0 }}</a></h6>
                 <div class="text">类型：{{ book.1 }}</div>
                 <div class="text">出版社：{{ book.2 }}</div>
                 <div class="text">库存量：{{ book.4 }}</div>
                 <div class="text">书架号：{{ book.5 }}</div>
                 <div class="clearfix"><div class="pull-left"><div class="author">作者：{{ book.3 }}</div></div>
                </div>
                <input type="submit" value="立即借书" onclick="myfun2()" class="flaticon-trash"><input>
             </form>
        </div>
    </div>
</div>
{% endfor %}

<!-- Post Share Options -->
<div class="styled-pagination margin-top-two text-center">
    <ul class="clearfix">
        <li class="arrow"><a href="#"><span class="fa fa-angle-left"></span> </a></li>
        <li class="prev"><a href="#">Prev</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li ><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="next"><a href="#">Next</a></li>
        <li class="arrow"><a href="#"><span class="fa fa-angle-right"></span> </a></li>
    </ul>
</div>

<script>
    function myfun2(){
          window.alert("借书成功")
    }
</script>
{% endblock %}