{% extends 'base.html' %}
{% load static  %}
{% block title %}管理中心{% endblock %}
{% block content %}
<!-- Manage Cource Section -->
<div class="manage-cource-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <h4>书籍管理</h4>
                </div>
                <div class="pull-right">
                    <a href="#" class="see-all">添加书籍</a>
                </div>
            </div>
        </div>
        <div class="inner-container">
            <div class="container-content">
                <table class="table">
                  <tbody>
                  {% for book in books %}
                    <tr>
                      <th class="title" scope="col">{{book.0}}</th>
                      <th class="post-date" scope="col">{{book.1}}</th>
                      <th class="sales" scope="col">{{book.2}}</th>
                      <th class="category" scope="col">{{book.3}}</th>
                      <th class="actions" scope="col">
                          <form action="{% url 'book:delete' %}" method="post">
                              <input type="hidden" name="book_no" value="{{ book.0 }}">
                              <input type="submit" value="删除图书" class="flaticon-trash"><input>
                          </form>
                      </th>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>

        <!-- Post Share Options -->
        <div class="styled-pagination margin-top text-center">
            <ul class="clearfix">
                <li class="arrow"><a href="#"><span class="fa fa-angle-left"></span> </a></li>
                <li class="prev"><a href="#">Prev</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li class="next"><a href="#">Next</a></li>
                <li class="arrow"><a href="#"><span class="fa fa-angle-right"></span> </a></li>
            </ul>
        </div>

    </div>
</div>
<!-- End Manage Cource Section -->
{% endblock %}